.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-top: 140px;
    padding-bottom: 140px;
}

.header {
    font-weight: 600;
}

.subHeader {
    margin: 20px 0;
    font-weight: 500;
}

.description {
    font-weight: 400;
}

.textContainer {
    width: 30%;
}

.buttonContainer {
    margin-top: 40px;
}

.packageImage {
    height: 420px;
    width: auto;
}

@media only screen and (max-width: 1300px) {
    .textContainer {
        width: 40%;
    }
    .packageImage {
        height: 380px;
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: column;
    }

    .textContainer {
        order: 2;
        width: 80%;
    }

    .packageImage {
        order: 1;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 950px) {
    .header {
        font-size: 33px !important;
    }

    .description {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 700px) {
    .subHeader {
        font-size: 20px !important;
    }

    .buttonContainer {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .packageImage {
        height: 300px;
    }
}