.container {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.header {
    font-weight: 600;
    margin-bottom: 80px;
}

.subHeader {
    font-weight: 600;
    margin-top: 80px;
}

.buttonContainer {
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between !important;
}