.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 150px;
}

.image {
    width: 400px;
    height: auto;
}

.header {
    font-weight: 600;
}

.description {
    font-weight: 400;
    width: 80%;
}

.rightContainer {
    width: 40%;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}