.container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 8%;
     padding-top: 140px;
     padding-bottom: 140px;
 }

.leftContainer {
    width: 60%;
}

.rightContainer {
    width: 30%;
}

.header {
    font-weight: 600;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.subHeader {
    font-weight: 500;
}

.description {
    font-weight: 400;
    width: 60%;
}

.growthImage{
    height: 350px;
    width: auto;
}

@media only screen and (max-width: 1450px) {
    .growthImage {
        height: 250px;
    }

    .leftContainer {
        width: 70%;
    }

    .rightContainer {
        width: 30%;
    }
}

@media only screen and (max-width: 1350px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .growthImage {
        height: 300px;
    }

    .leftContainer {
        width: auto;
        order: 2;
        text-align: center;
    }

    .header {
        width: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .description {
        width: auto;
    }

    .rightContainer {
        width: auto;
        order: 1;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .header {
        font-size: 45px !important;
    }

    .subHeader {
        font-size: 25px !important;
    }

    .description {
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 700px) {
    .header {
        font-size: 40px !important;
    }

    .subHeader {
        font-size: 20px !important;
    }

    .description {
        font-size: 18px !important;
    }
}