.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 140px;
    padding-bottom: 140px;
}

.textContainer {
    display: flex;
    gap: 120px;
    padding-left: 12%;
    padding-right: 12%;
    width: 100%;
}

.leftContainer {
    width: 80%;
}

.rightContainer {
    width: 80%;
}

.logoImage {
    height: 120px;
    width: auto;
    margin-bottom: 55px;
}

@media only screen and (max-width: 950px) {
   .textContainer {
       flex-direction: column;
       gap: 20px;
       padding-left: 10%;
       padding-right: 10%;
   }

    .description {
        font-size: 16px !important;
    }

    .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 750px) {
    .logoImage {
        height: 90px;
        margin-bottom: 25px;
    }
}