.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    font-weight: 600;
}

.description {
    font-weight: 400;
}