.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 140px;
}

.imageBackground {
    position: absolute;
    bottom: -10px;
    left: -10px;
    height: 350px;
    width: auto;
    z-index: -1;
}

.contactHeader {
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-variant: all-small-caps;
    line-height: 1;
}

.leftContainer {
    width: 40%;
    padding-left: 10px;
}

.subtitle {
    margin-top: 5px;
    text-transform: uppercase;
    font-variant: all-small-caps;
    line-height: 1;
    width: 90%;
    font-weight: 500;
}

.iconBox {
    display: flex;
}

.icon {
    height: 20px;
    width: auto;
    margin-right: 10px;
    margin-top: 2px;
}

.subText {
    font-size: 15px;
}

.keyTextContainer {
    width: 80%;
    border-radius: 12px;
    padding: 20px 25px;
    margin-top: 30px;
}

.divider {
    border-top: 2px solid;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60%;
}

.lowerDataContainer {
    /*display: flex;*/
}

.callText {
    margin-top: 5px;
    font-size: 22px;
    text-transform: uppercase;
    font-variant: all-small-caps;
    line-height: 1;
}

.callText:hover {
    font-weight: 500;
}

.rightContainerWeb {
    width: 50%;
}

.rightContainerMobile {
    width: 100%;
    display: none;
}

.topContainer {
    display: flex;
    gap: 20px;
}

.bottomContainer {
    display: flex;
    margin-top: 20px;
    /*flex-direction: column;*/
}

.warningText {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.buttonDark {
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
    margin-top: 8px;
    border: 1px solid;
    padding: 8px 10px;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Add this CSS to your stylesheet */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid blue; /* Use your theme color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1330px) {
    .rightContainerWeb {
        width: 70%;
    }
}

@media only screen and (max-width: 1150px) {
    .contactHeader {
        font-size: 60px !important;
    }
}

@media only screen and (max-width: 1050px) {
    .rightContainerWeb {
        width: 80%;
    }
}

@media only screen and (max-width: 930px) {
    .rightContainerWeb {
        display: none;
    }

    .rightContainerMobile {
        display: revert;
        width: 80%;
    }

    .container {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 850px) {
    .contactHeader {
        font-size: 55px !important;
    }
}

@media only screen and (max-width: 750px) {
    .contactHeader {
        font-size: 50px !important;
    }
}