.container {
    padding-left: 5%;
    padding-right: 5%;
}

.divider {
    border-bottom: 1px solid;
    margin-top: 50px;
}

.headerText {
    font-weight: 600;
    margin-bottom: 5px;
}

.bodyText {
    font-weight: 400;
    margin-top: -10px;
    line-height: 25px;
}

.header {
    font-weight: 600;
}

.description {
    margin-top: 10px;
}

.faqOne {
    margin-bottom: 140px;
}