.container {
    padding-left: 5%;
    padding-right: 5%;
}

.divider {
    border-bottom: 1px solid;
    margin-top: 50px;
}

.headerText {
    font-weight: 600;
    margin-bottom: 5px;
}

.bodyText {
    font-weight: 400;
    margin-top: -10px;
    line-height: 25px;
}

.header {
    font-weight: 600;
}

.description {
    margin-top: 10px;
}

.faqOne {
    margin-bottom: 140px;
}

@media only screen and (max-width: 1150px) {
    .header {
        font-size: 50px  !important;
    }
}

@media only screen and (max-width: 950px) {
    .header {
        font-size: 45px  !important;
    }

    .description {
        font-size: 16px  !important;
    }

    .divider {
        margin-top: 40px;
    }
}