.header {
    font-weight: 500;
}

.description {
    font-weight: 400;
}

.image {
    height: 350px;
    width: 575px;
    margin-bottom: 5px;
    object-fit: cover;
    display: block;
}

@media only screen and (max-width: 740px) {
    .image {
        width: 475px;
        height: 250px;
    }
}

@media only screen and (max-width: 550px) {
    .image {
        width: 400px;
        height: 250px;
    }

    .header {
        font-size: 28px !important;
    }

    .description {
        font-size: 16px !important;
    }
}