.container {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 150px;
    padding-bottom: 18px;
}

.header {
    font-weight: 600;
}

.outerTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.outerTextContainerMobile {
    display: none;
    margin-top: 40px;
}

.innerTextContainer {
    display: flex;
}

.topContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.middleContainer {
    display: flex;
    gap: 15px;
    margin-left: 50%;
}

.bottomContainer {
    width: 20%;
}

.cityText {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.circle {
    width: 4px;
    height: 4px;
    border-radius: 100%;
}

.iconContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 8px;
}

.iconsTall {
    height: 24px;
}

.icons {
    height: 28px;
}

.textButton:hover {
    text-decoration: underline;
}

.texterButton:hover {
    color: #677381;
    transition: color 0.5s;
}

.icons:hover {
    color: #677381 !important;
    transition: color 0.6s;
}

.iconsTall:hover {
    color: #677381 !important;
    transition: color 0.6s;
}

.lowerContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}



@media only screen and (max-width: 1200px) {
    .header {
        font-size: 70px !important;
    }

    .outerTextContainer {
        display: none;
    }

    .outerTextContainerMobile {
        display: flex;
        flex-direction: column;
    }

    .topTextMobile {
        width: 50%;
        margin-bottom: 15px;
    }

    .middleButtonMobile {
        margin-bottom: 15px;
    }

    .cityText {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 905px) {
    .header {
        font-size: 60px !important;
    }

    .container {
        padding-top: 50px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 18px;
    }
}

@media only screen and (max-width: 720px) {
    .header {
        font-size: 55px !important;
    }

    .topTextMobile {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .header {
        font-size: 55px !important;
    }

    .outerTextContainerMobile {
        margin-top: 10px;
    }

    .topTextMobile {
        width: 100%;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}